{% extends 'admin_base.html' %} {% load static %} {% block main %}

<head>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>

<!-- code here -->
<div class="card">
    <div>
        <h2 class="card-form"><b>Between Dates Reports</b>
            <hr>
        </h2>
    </div>
    <br>
    <h5 class="text-center" style="font-size: 30px; color: blueviolet;">Report from {{fd}} to {{td}} </h5><br>
    <table id="example" class="table table-bordered font-weight-bold">
        <thead class="thsize">
            <th>S no.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Action</th>
        </thead>
        {% for i in booking %}
        <tbody class="thsize">
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>

            <td>
                <a href="{% url 'view_bookingdetail' i.id %}" class="btn btn-success font-weight-bold" style="width: 80px;">View Details</a>
                <a href="{% url 'deloldbooking' i.id %}" class="btn btn-danger font-weight-bold" style="width: 80px;" onclick="return confirm('You Want To Delete')">Delete Details</a>
            </td>
        </tbody>
        {% endfor %}

    </table>
    <div class=" card-info ">
        <p>By signing up you are agreeing to our <a href="# ">Terms and Conditions</a></p>
    </div>
</div>

{% endblock %}